.cyan {
    background-color: cyan;
    border-radius: 4px;
}

.magenta {
    background-color: magenta;
    border-radius: 4px;
}

.jaune {
    background-color: yellow;
    border-radius: 4px;
}

.noir {
    background-color: black;
    color: white;
    border-radius: 4px;
}

.carre-bleue {


    background-color: #191970;
    display: inline-block;
    padding: 5px;
    color: white;

}

.carre-rose {

    display: inline-block;
    padding: 5px;
    background-color: #ff5f61;
    color: white;
    margin-left: 3rem;
}

.carre-violet {

    display: inline-block;
    padding: 5px;
    background-color: #5f4b8b;
    color: white;
    margin-left: 3rem;
}

.carre-very {

    padding: 5px;
    background-color: #6667AB;
    color: white;
    margin-left: 15rem;
}

.carre-bi {

    padding: 5px;
    display: inline-block;
    color: white;
    margin-left: 5rem;

    background: rgb(245, 223, 77);
    background: linear-gradient(90deg, rgba(245, 223, 77, 1) 50%, rgba(147, 149, 151, 1) 50%);
}
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .taille {
        height: 200px;
        width: 30%;
    }